@require 'reset'

// Variables
windowWidth = 520px
windowHeight = 275px

font-stack = menlo, "source code pro", "andale mono", consolas, monospace

backgroundColor = rgb(255,255,255)
primaryColor = rgb(80,80,80)
inProgressBG = rgb(60,60,60)

defaultBtnFontSize = 16px
primaryBtnFontSize = 18px

html
	border 1px solid darken(backgroundColor, 10%)
	height windowHeight - 2
	width windowWidth - 2
	overflow hidden
body
	border-top 40px solid darken(backgroundColor, 8%)
	background-color backgroundColor
	font-family font-stack
	padding 15px 15px 0
	*
		font-family inherit
		font-weight 100

img#npm-logo
	position absolute
	top 12px
	right 15px
	height 20px
	user-select none

h1
	color rgb(80,80,80)
	margin 0 0 15px 0
	cursor default
	font-size 18px
	user-select none



// button reset
button
	outline none
	border 1px solid darken(backgroundColor, 20%)
	background-color darken(backgroundColor, 10%)
	color black
	margin 6px
	padding 4px 8px
	font-size defaultBtnFontSize
	line-height defaultBtnFontSize
	cursor pointer
	user-select none
	transition background-color .3s ease, color .3s ease, border .3s ease
	&:hover
		border 1px solid darken(backgroundColor, 30%)
		background-color darken(backgroundColor, 20%)
		color darken(backgroundColor, 100%)
	&.in-progress
		background-color inProgressBG
		border 1px solid darken(inProgressBG, 10%)
		color white
		&:hover
			border 1px solid darken(inProgressBG, 40%)
			background-color darken(inProgressBG, 30%)
			color white
	img.in-progress
		height 1em
		width auto
		vertical-align middle
		margin 0 0 0 8px
		animation spin .75s linear infinite

section#primaryScripts
	background-color darken(backgroundColor, 4%)
	border 1px solid darken(backgroundColor, 15%)
	border-radius 2px
	padding 5px
	margin 10px 0 10px

	button
		border 1px solid darken(primaryColor, 15%)
		background-color primaryColor
		color lighten(primaryColor, 90%)
		margin 6px
		font-size primaryBtnFontSize
		line-height primaryBtnFontSize
		&.in-progress
			background-color primaryColor
		&:hover
			border 1px solid primaryColor
			background-color lighten(primaryColor, 15%)
			color lighten(primaryColor, 90%)
		img.in-progress
			height primaryBtnFontSize

@keyframes spin
	0%
		transform rotate(0deg)
	100%
		transform rotate(360deg)

section#npm-installer
	width 100%
	height 160px
	background-color rgb(35,35,35)
	position absolute
	bottom 0
	left 0
	box-shadow inset 0 1px 2px rgba(0,0,0,.5), 0 -1px 4px rgba(0,0,0,.4)
	border-top 3px solid rgb(204,54,50)
	z-index 10
	transition bottom .35s ease, background-color .2s ease
	&.hide
		bottom -200px
	&.error
		background-color rgb(204,54,50)
	&.success
		// background-color rgb(240,240,240)
		background-color rgb(27,84,159)
	span, label, div
		color white
		vertical-align middle
		display inline-block
	span, label, input, div
		font-family font-stack !important
	form
		position absolute
		top 50%
		left 50%
		transform translate(-50%, -50%)
		width 90%
		height 70%
		// background-color orange
		img.loader
			height 15px
			width 15px
			position absolute
			bottom 6px
			right 15%
			user-select none
			pointer-events none
			visibility hidden
			&.active
				visibility visible
				animation spin .75s linear infinite
		div#npm-installer-command-line
			width 100%
			height 40px
			position relative
			margin 0 auto
			padding 8px 0
			background-color rgb(40,40,40)
			outline 1px solid rgb(25,25,25)
			box-shadow 0 2px 3px rgba(0,0,0,.3)
			div.npm-install
				width 26%
				display block
				// background-color purple
				margin 0
				position absolute
				top 50%
				left 2%
				transform translateY(-50%)
				height 30px
				line-height 30px
				color white
			input#package-name
				outline-offset 0
				padding 0
				height 30px
				line-height 30px
				text-indent 5px
				font-size 15px
				margin 0
				outline 1px solid rgba(255,255,255,.2)
				border none
				color white
				background-color rgba(255,255,255,.1)
				width 67%
				position absolute
				top 50%
				right 3%
				transform translateY(-50%)
				transition outline .3s ease, background-color .3s ease
				&:focus
					outline 1px solid rgba(0,0,0,.4)
					background-color rgb(20,20,20)
				&::-webkit-input-placeholder
					color rgba(255,255,255,.6)
		fieldset.radios
			position absolute
			bottom 0
			left 0
			label
				display inline-block
				margin 2px 0
				vertical-align middle
				font-size 15px
				input
					margin-left 6px
	input#npm-installer-submit
		position absolute
		right 0
		bottom 0
		outline none
		border none
		background-color rgb(45,45,45)
		font-size 17px
		padding 5px 10px
		color white
		cursor pointer
		outline 1px solid rgb(10,10,10)
		box-shadow 0 2px 1px rgba(0,0,0,.6)
		transition background-color .3s ease
		&:hover
			background-color rgb(55,55,55)

section#bash-commander
	width 100%
	height 160px
	background-color rgb(35,35,35)
	position absolute
	bottom 0
	left 0
	box-shadow inset 0 1px 2px rgba(0,0,0,.5), 0 -1px 4px rgba(0,0,0,.4)
	border-top 3px solid rgb(204,54,50)
	z-index 10
	transition bottom .35s ease, background-color .2s ease
	&.hide
		bottom -200px
	&.error
		background-color rgb(204,54,50)
	span, label, div
		color white
		vertical-align middle
		display inline-block
	span, label, input, div
		font-family font-stack !important
	h2.bash-commander
		display block
		// background-color purple
		margin 0
		// position absolute
		top 0
		left 0
		// transform translateY(-50%)
		height 30px
		line-height 30px
		color white
	form
		position absolute
		top 50%
		left 50%
		transform translate(-50%, -50%)
		width 90%
		height 70%
		// background-color orange
		div#bash-commander-command-line
			HEIGHT = 40px
			width 100%
			height HEIGHT
			position relative
			margin 0 auto
			padding 0 0
			input#bash-commander-input
				outline-offset 0
				padding 0
				height HEIGHT
				line-height HEIGHT
				text-indent 5px
				font-size 15px
				margin 0
				outline none
				border none
				color white
				background-color rgb(45,45,45)
				outline 1px solid rgb(25,25,25)
				box-shadow 0 2px 3px rgba(0,0,0,.3)
				width 100%
				position absolute
				top 0
				transition outline .3s ease, background-color .3s ease
				&:focus
					outline 1px solid rgb(10,10,10)
					background-color rgb(25,25,25)
				&::-webkit-input-placeholder
					color rgba(255,255,255,.6)
		fieldset.radios
			position absolute
			bottom 0
			left 0
			label
				display inline-block
				margin 2px 0
				vertical-align middle
				font-size 15px
				input
					margin-left 6px
	input#bash-commander-submit
		position absolute
		right 0
		bottom 0
		outline none
		border none
		background-color rgb(45,45,45)
		font-size 17px
		padding 5px 10px
		color white
		cursor pointer
		outline 1px solid rgb(10,10,10)
		box-shadow 0 2px 1px rgba(0,0,0,.6)
		transition background-color .3s ease
		&:hover
			background-color rgb(55,55,55)

div#cover
	position fixed
	bottom 0
	left 0
	height 100%
	width 100%
	background-color rgba(0,0,0,.5)
	z-index 1
	transition background-color .35s ease
	&.hide
		height 0
		width 0
		background-color rgba(0,0,0,0)

