button
	outline none
	border 1px solid darken(backgroundColor, 20%)
	background-color darken(backgroundColor, 10%)
	color black
	margin 6px
	padding 4px 8px
	font-size defaultBtnFontSize
	line-height defaultBtnFontSize
	cursor pointer
	user-select none
	transition background-color .3s ease, color .3s ease, border .3s ease
	&:hover
		border 1px solid darken(backgroundColor, 30%)
		background-color darken(backgroundColor, 20%)
		color darken(backgroundColor, 100%)
	img.in-progress
		display none
		height 1em
		width auto
		vertical-align middle
		margin 0 0 0 8px
	&.in-progress
		background-color inProgressBG
		border 1px solid darken(inProgressBG, 10%)
		color white
		&:hover
			border 1px solid darken(inProgressBG, 40%)
			background-color darken(inProgressBG, 30%)
			color white
		img.in-progress
			display inline-block
			animation spin .75s linear infinite
	
