// Variables
windowWidth = 520px
windowHeight = 275px

font-stack = menlo, "source code pro", "andale mono", consolas, monospace

backgroundColor = rgb(255,255,255)
primaryColor = rgb(80,80,80)
inProgressBG = rgb(60,60,60)

defaultBtnFontSize = 16px
primaryBtnFontSize = 18px

@keyframes spin
	0%
		transform rotate(0deg)
	100%
		transform rotate(360deg)
