html {
  border: 1px solid #e1e1e1;
}
body {
  border-top: 40px solid #e6e6e6;
  background-color: #fafafa;
}
img#npm-logo {
  top: 12px;
  right: 15px;
  height: 20px;
}
h1 {
  color: #505050;
  margin: 0 0 15px 0;
  font-size: 18px;
}
button {
  border: 1px solid #c8c8c8;
  background-color: #e1e1e1;
  color: #000;
  margin: 6px;
  padding: 4px 8px;
  font-size: 15px;
  line-height: 15px;
}
button:hover {
  border: 1px solid #afafaf;
  background-color: #c8c8c8;
  color: #000;
}
button.in-progress {
  background-color: #fff;
  border: 1px solid #999;
  color: #323232;
}
button.in-progress:hover {
  background-color: #f2f2f2;
  border: 1px solid #8c8c8c;
  color: #282828;
}
button img.in-progress {
  height: 15px;
  margin: 0 0 0 8px;
}
section#primaryScripts {
  background-color: #f0f0f0;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 5px;
  margin: 10px 0 10px;
}
section#primaryScripts button {
  border: 1px solid #ad2e2a;
  background-color: #cc3632;
  color: #faebea;
  margin: 6px;
  font-size: 18px;
  line-height: 18px;
}
section#primaryScripts button:hover {
  border: 1px solid #a32b28;
  background-color: #d04440;
  color: #fff;
}
section#primaryScripts button.in-progress {
  background-color: #cc3632;
  border: 1px solid #ad2e2a;
  color: #faebea;
}
section#primaryScripts button.in-progress:hover {
  border: 1px solid #a32b28;
  background-color: #d04440;
  color: #fff;
}
section#primaryScripts button img.in-progress {
  height: 18px;
}
